# -----------------------------------------------------------------------
# Flutter/Dart
# -----------------------------------------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols
app.*.map.json

# -----------------------------------------------------------------------
# Android
# -----------------------------------------------------------------------
**/android/local.properties
**/android/key.properties
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat

# Executables
*.apk
*.aab
*.jar

# -----------------------------------------------------------------------
# iOS
# -----------------------------------------------------------------------
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/.generated/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flash/GeneratedPluginRegistrant.h
**/ios/Flash/GeneratedPluginRegistrant.m
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/

# -----------------------------------------------------------------------
# IDEs and Editors
# -----------------------------------------------------------------------
.idea/
.vscode/
*.iml
*.iws
*.ipr
.history
.direnv/
.env

# -----------------------------------------------------------------------
# System Files
# -----------------------------------------------------------------------
.DS_Store
Thumbs.db